body {
    margin: 0;
    font-family: 'Roberto', sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin-bottom: 0;
    margin-top: 0;
}


.hero,
.header,
.footer {
    display: flex;
    background-color: #1F2937;
}

.header ul,
.hero-secondary {
    color: #e5e7e8;
    font-size: 18px;
}

.header img {
    width: 7vw;
}

.hero img {
    height: 25vh;
}

.box img {
    height: 8vh;
    border: 3px solid #1b4663;
    border-radius: 10px;
    padding: 16px;
}

.header {
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 48px;
}

.hero {
    padding: 64px 48px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    justify-content: center;
}

.hero-secondary {
    margin-bottom: 16px;
    margin-top: 0px;
}

.sign-up {
    background: #3883F6;
    border-radius: 8px;
    border-width: 0;
    padding: 5px 20px;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    margin: 64px;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 40px 0;
}

.box {
    max-width: 200px;
    justify-content: center;
    text-align: center;
}






